body {
    background-color: red;
    font-family: Arial, sans-serif;
    
  }
  
  h3 {
    color: #3677BA;
    text-align: center;
    padding: 0px 30px, 30px, 0px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    background: black
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  th, td {
    padding: 15px;
    text-align: center;
  }
  
  th {
    background-color: #3677BA;
    color: #fff;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #e5e5e5;
  }
  
  button{
    background-color: #3677BA;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #275d91;
  }
  
  input[type="checkbox"].nameCheckbox {
    transform: scale(1.7); /* Ajuste o valor conforme desejado para aumentar o tamanho */
  }
  
  /* Estiliza o <link>checkbox</link> */
  input[type="checkbox"].nameCheckbox::before {
    border: 2px solid #3677BA; /* Cor da borda */
    background-color: #3677BA; /* Cor de fundo quando selecionado */
  }

  th{
    font-size: 20px; /* Ajuste o tamanho da fonte conforme desejado */
    font-family: 'Nome da Fonte', sans-serif; /* Substitua 'Nome da Fonte' pelo nome da fonte desejada */
  }
  
  /* Adiciona fonte moderna aos elementos <link>th</link> */
  h3,table,td,button{
    font-family: 'Nome da Fonte', sans-serif; /* Substitua 'Nome da Fonte' pelo nome da fonte desejada */
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 54px 0;
    gap: 24px;
    color: #fff;
  }